.color{
    background-color: #0944c5;
}

.button{
    color: #fff;
}

.hover1:hover{
    background-color: #11c9e9;

}

.hover2:hover{
    background-color: #11c9e9;

}

.hover3:hover{
    background-color: #11c9e9;

}

.backgroundimg{
    background-image: url(../img/moon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.square {
    border: 5px solid #0944c5;
    
}