.color{
    background-color: #0944c5;
}

.button{
    color: #fff;
}

.hover1:hover{
    background-color: #11c9e9;

}

.hover2:hover{
    background-color: #11c9e9;

}

.hover3:hover{
    background-color: #11c9e9;

}